.top-offers {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    &--card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
        margin-top: 25px;
        margin-left: 10px;
        a {
            color: black;
            text-decoration: none;
        }
        .card-text{
            padding-top: 10px;
        }
    }
    &--see-all{
        margin: auto;
        text-align: center;
    }
    .card-body{
        padding: 15px 5px;
    }
}